<div class="flex flex-col min-h-screen">
  <%# Intro Section - Sticky Top %>
  <div class="sticky top-0 z-10">
    <div class="flex">
      <h1 class="text-4xl tracking-wider font-semibold mb-10">Hello and welcome,<br> people call me
        <span class="font-heading text-primary text-5xl">Sebb</span>
      </h1>
      <%#= image_tag "icons/Figma_logo.png", id:"animate-icon", alt: "text", class: "w-10 h-10" %>
    </div>
    <p id="hero-text" class="text-2xl font-heading mt-10 mb-4">I'm a .....</p>
    <p class="text-lg">I design and build digital products. I turn ideas for software products into reality, a beautiful reality.</p>
  </div>

  <%# Spacer %>
  <div class="flex-grow h-96"></div>
  <%# About Section %>
  <div class="flex flex-col rounded-md border-2 px-4 md:px-9 py-5 md:py-7 space-y-3 border-gray-300 shadow-xl hover:shadow-2xl">
    <h2 class="text-3xl font-bold mb-2">About</h2>
    <p class="text-lg">I'm a software developer and designer with a fullstack background, on tech stacks like Ruby on Rails, Dart, Javascript, HTML and many more.</p>
    <p class="text-lg">I've dedicated myself towards consumer centered products, with a focus on the user experience up to the level consumers expect from us developers nowadays.
      <br>  </p>
  </div>
</div>
