<div class="flex flex-col min-h-screen">
  <%# Intro Section - Sticky Top %>
  <div class="sticky top-0 z-10">
    <h1 class="text-4xl tracking-wider font-semibold mb-10">Hello and welcome,<br> people call me
      <span class="font-heading text-primary text-5xl">Sebb</span>
    </h1>
    <p class="text-lg">I'm a .....</p>
    <p class="text-lg">I design and build digital products. I turn ideas for software products into reality, a beautiful reality.</p>
  </div>

  <%# Spacer %>
  <div class="flex-grow h-80"></div>
  <%# About Section %>
  <div class="flex flex-col rounded-md border-2 px-3 py-5 border-gray-300">
    <h2 class="text-2xl font-bold">About</h2>
    <p class="text-lg">I'm a software developer and designer with a fullstack background, on tech stacks like Ruby on Rails, Dart, Javascript, HTML and many more.</p>
    <p class="text-lg">I've dedicated myself towards consumer centered products, with a focus on the user experience up to the level consumers expect from us developers nowadays.
      <br>  </p>
  </div>
</div>
