    <div>
      <h2 class="text-3xl font-bold mb-8">Projects</h2>
      <div class="grid grid-cols-2 gap-4">
        <div class="foggy-bg h-full p-4 relative">
      <div>
        <%= image_tag "project.png", alt: "Project 1", class: "w-full h-full object-cover z-10" %>
        </div>
        </div>
        <div class="foggy-bg h-full p-4 relative">
      <%= image_tag "project.png", alt: "Project 2", class: "w-full h-full object-cover z-10" %>
        </div>
        <div class="foggy-bg h-full p-4 relative">
      <%= image_tag "project.png", alt: "Project 3", class: "w-full h-full object-cover z-10" %>
        </div>
        <div class="foggy-bg h-full p-4 relative">
      <%= image_tag "project.png", alt: "Project 4", class: "w-full h-full object-cover z-10" %>
        </div>
      </div>
    </div>
