@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply relative min-h-screen w-full bg-neutral-900;
  font-family: 'Raleway', sans-serif;

  color: #fff;
  z-index: 0;
}

body::before {
  @apply content-[''] absolute inset-0 bg-fuchsia-400 opacity-20 blur-[100px];
  background-size: 20px 20px;
  z-index: -1;
}

.background-primary {
  @apply content-[''] absolute inset-0 bg-fuchsia-400 opacity-20 blur-[100px];
  background-size: 20px 20px;
  z-index: -1;
}

.box-shadow {
  box-shadow: 0 0 9px 3px #0ED762;
}

.text-shadow {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}


.foggy-bg {
  position: relative;
  overflow: hidden;
}

.foggy-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(249, 250, 251, 0.4);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.foggy-bg > * {
  position: relative;
  z-index: 2;
}


@layer components {
  .tech-stack-slider {
    @apply flex gap-16 my-24 py-8 animate-scroll;
  }

  .slider-container {
    @apply overflow-hidden relative flex;
  }

  .slider-container:hover,
  .tech-stack-slider:hover,
  .tech-stack-slider img:hover {
    animation-play-state: paused;
  }

  .slider-container::before,
  .slider-container::after {
    @apply content-[''] absolute w-24 h-full z-10;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  .slider-container::after {
    @apply right-0 top-0 rotate-180 z-0;
  }

  .slider-container::before {
    @apply left-0 top-0;
  }

  .tech {
    @apply flex flex-col items-center justify-center relative;
  }

  .tech-icon {
    @apply w-32 transition-all duration-300 grayscale;
  }

  .tech-icon + p {
    @apply opacity-0 transition-all duration-300 absolute -bottom-10;
  }

  .tech-icon:hover {
    @apply -translate-y-10 grayscale-0;
  }

  .tech-icon:hover + p {
    @apply opacity-100;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
}
